@media screen and (max-width:524px) {
    .wrapper {
        margin: 10px;
    }
}

@media screen and (max-width:375px){
    .wrapper {
        width: 350px;
    }

    .main-wrapper {
        width: 350px;
    }

    body{
        font-size: 1rem;
    }

    .main-content__buttons-two-buttons {
        column-gap: 2rem;
        font-size: 0.875rem;
    }

    .buttons {
        padding: 8px;
        width: 110px;
    }
}