@media screen and (max-width:524px) {
    .container {
        margin: 10px;
    }
}

@media screen and (max-width:375px){
    body{
        font-size: 1rem;
    }

    .two-buttons {
        column-gap: 2rem;
        font-size: 0.875rem;
    }

    .buttons {
        padding: 8px;
        width: 110px;
    }
}